language: perl
perl:
  - "5.20"
  - "5.22"
  - "5.24"
env:
  global:
    - COVERAGE=1
sudo: false
addons:
  apt:
    packages:
      - aspell
      - aspell-en
before_install:
  - nohup cpanp x 2>&/dev/null &
  - git clone --depth=5 git://github.com/travis-perl/helpers ~/travis-perl-helpers
  - (cd ~/travis-perl-helpers ; git checkout fb3f871c0c63bba11b29e17ddf9cacb77cf43243)
  - source ~/travis-perl-helpers/init
  - build-perl
  - local-lib dzil
  - perl -V
  - build-dist
  - cd $BUILD_DIR             # $BUILD_DIR is set by the build-dist command
install:
  - cpan-install --deps       # installs prereqs, including recommends
  - cpan-install --coverage   # installs converage prereqs, if enabled
before_script:
  - coverage-setup
script:
  - prove -l -j$(test-jobs) $(test-files)   # parallel testing
after_success:
  - coverage-report
